<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <nav>
      <ul>
        <li><a href='/scrabble/chart'>Letter Score Chart</a></li>
        <li><a href='/scrabble/score'>Score your Word</a></li>
      </ul>
    </nav>
  </header>
  <body>
    <h2>Scrabble Express</h2>
    <img src="http://i.huffpost.com/gadgets/slideshows/213182/slide_213182_764669_free.jpg" alt="Otter baby" style="width:280px;height:228px;">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
