<!DOCTYPE html>
<html>
<body>

<p>Enter your Scrabble word in the field, then click "Submit" to submit the form:</p>

<form name="htmlform" method="post" action="/scrabble/score">
  <label for="word">Word</label>
  <input  type="text" name="word">
  <input type="submit" value="Submit">
</form>

</body>
</html>
